/Data
/Data.zip
/Manifest.toml
/Plots
/Project.toml
/SingularValues.jl
/test.jl
CFT_I.png
CFT_II.png
CFT_III.png
CFT_IV.png
SVs BTRG.png
SVs delta Iter19.png
SVs delta Iter20.png
SVs delta Iter21.png
SVs delta Iter22.png
SVs delta.png
SVs HOTRG.png
SVs TRG.png
6VertexModel_Jarid/Data/ac_vals_2.csv
6VertexModel_Jarid/Data/ac_vals_5.csv
6VertexModel_Jarid/Data/ac_vals_6.csv
6VertexModel_Jarid/Data/ac_vals_10.csv
6VertexModel_Jarid/Data/ac_vals_20.csv
6VertexModel_Jarid/Data/ac_vals_50.csv
6VertexModel_Jarid/Data/ac_vals_51.csv
6VertexModel_Jarid/Data/ac_vals_100.csv
6VertexModel_Jarid/Data/ac_vals_101.csv
6VertexModel_Jarid/Data/bc_vals_2.csv
6VertexModel_Jarid/Data/bc_vals_5.csv
6VertexModel_Jarid/Data/bc_vals_6.csv
6VertexModel_Jarid/Data/bc_vals_10.csv
6VertexModel_Jarid/Data/bc_vals_20.csv
6VertexModel_Jarid/Data/bc_vals_50.csv
6VertexModel_Jarid/Data/bc_vals_51.csv
6VertexModel_Jarid/Data/bc_vals_100.csv
6VertexModel_Jarid/Data/bc_vals_101.csv
6VertexModel_Jarid/Data/lnZ_2.csv
6VertexModel_Jarid/Data/lnZ_5_MyVersion.csv
6VertexModel_Jarid/Data/lnZ_5_VictorVersion.csv
6VertexModel_Jarid/Data/lnZ_5.csv
6VertexModel_Jarid/Data/lnZ_6_MyVersion.csv
6VertexModel_Jarid/Data/lnZ_6_VictorVersion.csv
6VertexModel_Jarid/Data/lnZ_10.csv
6VertexModel_Jarid/Data/lnZ_20.csv
6VertexModel_Jarid/Data/lnZ_50.csv
6VertexModel_Jarid/Data/lnZ_51.csv
6VertexModel_Jarid/Data/lnZ_100.csv
6VertexModel_Jarid/Data/lnZ_101.csv
6VertexModel_Jarid/Plots/Phase_len5_dif0_myVersion.png
6VertexModel_Jarid/Plots/Phase_len5_dif0.png
6VertexModel_Jarid/Plots/Phase_len5_dif1.png
6VertexModel_Jarid/Plots/Phase_len5_dif2.png
6VertexModel_Jarid/Plots/Phase_len20_dif0.png
6VertexModel_Jarid/Plots/Phase_len20_dif1.png
6VertexModel_Jarid/Plots/Phase_len20_dif2.png
6VertexModel_Jarid/Plots/Phase_len50_dif0.png
6VertexModel_Jarid/Plots/Phase_len50_dif1.png
6VertexModel_Jarid/Plots/Phase_len50_dif2.png
6VertexModel_Jarid/Plots/Phase_len51_dif0.png
6VertexModel_Jarid/Plots/Phase_len51_dif1.png
6VertexModel_Jarid/Plots/Phase_len51_dif2.png
6VertexModel_Jarid/Plots/Phase_len100_dif0.png
6VertexModel_Jarid/Plots/Phase_len100_dif1.png
6VertexModel_Jarid/Plots/Phase_len100_dif2.png
6VertexModel_Jarid/Plots/Phase_len101_dif0.png
6VertexModel_Jarid/Plots/Phase_len101_dif1.png
6VertexModel_Jarid/Plots/Phase_len101_dif2.png
6VertexModel_Jonas/Data/cft_I.csv
6VertexModel_Jonas/Data/cft_II.csv
6VertexModel_Jonas/Data/cft_III.csv
6VertexModel_Jonas/Data/cft_IV.csv
6VertexModel_Jonas/Data/iteration_I.csv
6VertexModel_Jonas/Data/iteration_II.csv
6VertexModel_Jonas/Data/iteration_III.csv
6VertexModel_Jonas/Data/iteration_IV.csv
accubenchasym.png
savedfig.png
SVs delta iter 10.png
SVs delta iter 15.png
SVs delta iter 20.png
SVs delta iter 5.png
Phase diagram/Data/ac_vals_2.csv
Phase diagram/Data/ac_vals_5.csv
Phase diagram/Data/ac_vals_6.csv
Phase diagram/Data/ac_vals_10.csv
Phase diagram/Data/ac_vals_20.csv
Phase diagram/Data/ac_vals_50.csv
Phase diagram/Data/ac_vals_51.csv
Phase diagram/Data/ac_vals_100.csv
Phase diagram/Data/ac_vals_101.csv
Phase diagram/Data/bc_vals_2.csv
Phase diagram/Data/bc_vals_5.csv
Phase diagram/Data/bc_vals_6.csv
Phase diagram/Data/bc_vals_10.csv
Phase diagram/Data/bc_vals_20.csv
Phase diagram/Data/bc_vals_50.csv
Phase diagram/Data/bc_vals_51.csv
Phase diagram/Data/bc_vals_100.csv
Phase diagram/Data/bc_vals_101.csv
Phase diagram/Data/lnZ_2.csv
Phase diagram/Data/lnZ_5_MyVersion.csv
Phase diagram/Data/lnZ_5_VictorVersion.csv
Phase diagram/Data/lnZ_5.csv
Phase diagram/Data/lnZ_6_MyVersion.csv
Phase diagram/Data/lnZ_6_VictorVersion.csv
Phase diagram/Data/lnZ_10.csv
Phase diagram/Data/lnZ_20.csv
Phase diagram/Data/lnZ_50.csv
Phase diagram/Data/lnZ_51.csv
Phase diagram/Data/lnZ_100.csv
Phase diagram/Data/lnZ_101.csv
Phase diagram/Plots/Phase_len5_dif0_myVersion.png
Phase diagram/Plots/Phase_len5_dif0.png
Phase diagram/Plots/Phase_len5_dif1.png
Phase diagram/Plots/Phase_len5_dif2.png
Phase diagram/Plots/Phase_len20_dif0.png
Phase diagram/Plots/Phase_len20_dif1.png
Phase diagram/Plots/Phase_len20_dif2.png
Phase diagram/Plots/Phase_len50_dif0.png
Phase diagram/Plots/Phase_len50_dif1.png
Phase diagram/Plots/Phase_len50_dif2.png
Phase diagram/Plots/Phase_len51_dif0.png
Phase diagram/Plots/Phase_len51_dif1.png
Phase diagram/Plots/Phase_len51_dif2.png
Phase diagram/Plots/Phase_len100_dif0.png
Phase diagram/Plots/Phase_len100_dif1.png
Phase diagram/Plots/Phase_len100_dif2.png
Phase diagram/Plots/Phase_len101_dif0.png
Phase diagram/Plots/Phase_len101_dif1.png
Phase diagram/Plots/Phase_len101_dif2.png
Singular values for different phases/Data/cft_I.csv
Singular values for different phases/Data/cft_II.csv
Singular values for different phases/Data/cft_III.csv
Singular values for different phases/Data/cft_IV.csv
Singular values for different phases/Data/iteration_I.csv
Singular values for different phases/Data/iteration_II.csv
Singular values for different phases/Data/iteration_III.csv
Singular values for different phases/Data/iteration_IV.csv
